nav {
    background: darkgray;
    height: 50px;
}

.section {
    height: 800px;
}
.section-1{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2{
    background-color: lightblue;
}

.section-3{
    background-color: lightcoral;
}
.section-4{
    background-color: white;
}

.section-5{
    background-color: lightsalmon;
}
.section-6{
    background-color: lightgrey;
}
.section-7{
    background-color: lightseagreen;
}

.footer {
    background-color: lightgray;
    height: 300px;
}